.c-navigation {
  height: 100vh;
  width: 10rem;
  display: flex;
  position: fixed;
  flex-direction: column;
  background-color: black;

  align-items: center;
  // justify-content: space-around;
  //   gap: 20%;

  &__logo {
    color: white;
  }

  &__desktop-menu {
    display: flex;
    position: inherit;
    flex-direction: column;
    top: 10rem;
    list-style: none;
    // width: 10rem;
    // flex: 0 1 auto;
    gap: 1rem;
    align-items: center;

    // font-size: 1.4rem;
    &__item {
      color: white;
      user-select: none;
      text-decoration: none;
      cursor: pointer;
      // margin-bottom: 1rem;
      width: 10rem;
      border: 1px solid white;
    }
  }

  &__social {
    color: white;
  }
}
