.c-navigation {
  height: 100vh;
  width: 10rem;
  display: flex;
  position: fixed;
  flex-direction: column;
  background-color: #272727;
  align-items: center;
  // justify-content: space-around;
  &__logo {
    margin: 1.5rem 0;
    svg {
      width: 100%;
      path {
        fill: white;
      }
    }
  }

  &__desktop-menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    border-top: 1px solid #5a5a5a;
    &__item {
      display: flex;
      align-items: center;
      color: white;
      user-select: none;
      text-decoration: none;
      cursor: pointer;
      width: 10rem;
      height: 3rem;
      padding-left: 0.15rem;
      border-bottom: 1px solid #5a5a5a;

      &:before {
        left: 0;
        content: '';
        position: absolute;
        width: 100%;
        height: 3rem;
        background: #414141;
        transition: all 0.3s ease;
        transform: translateX(-10rem);
        transform-origin: left;
        z-index: -1;
      }

      &.is-active,
      &:hover {
        &:before {
          transform: translateX(0);
        }
      }
    }
  }

  &__social {
    color: white;
  }
}
