.App {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  .content {
    display: flex;
    flex-direction: column;
    position: relative;
    // left: 10vw;
    // left: 100%;
    left: 10rem;
    width: 90.9vw;
  }
}
